body {
    background: #162831;
    font-family: 'El Messiri';
    font-style: normal;
}

h6, h5, h4, h3, h2, h1 {
  font-family: 'El Messiri';
  font-style: normal;
  color: white;
}

p{
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-row{
  margin-top: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
}
.row{
  margin-top: 100px;
}
.card-top{
  margin-top: 10px;
}
.slider-block{
  margin: auto;
  width: 636px;
  height: 350px;
  background: #018ABE;
  border-radius: 10px;
  padding: 50px;
}

.btn-button{
  width: 28px;
  height: 14px;
  background: #018ABE;
  border-radius: 0px 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.btn-buttons{
  background: #018ABE;
  font-family: 'Proxima Nova';
  font-style: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-small{
  background: #018ABE;
  border-radius: 0px 50px;
  width: 5px;
  height: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.btn-light{
  color: #018ABE;
}
.btn-right{
  border-radius: 50px 0px;
}
.navbar{
  justify-content: center;
  color: white;
}
a {
  color: white;
}
.text{
  margin-left: 170px;
  padding-top: 25px;
}
.cards{
  background: #018ABE;
  border-radius: 10px;
  height: 290px;
  width: 392px;
  padding: 25px;
  margin-left: 15px;
}
.card-second{
  margin-top: 20px;
}
li {
  list-style: none;
  color: white;
  padding: 10px;
  margin-right: 25px;
  position: relative;
  right: 40px;
}
li img{
  margin-right: 10px;
}
.list-item{
  margin: auto;
  justify-content: center;
  display: flex;
}
.item-text{
  margin: auto;
}
.block-item{
  width: 466px;
  font-size: 16px;
}
.block-item-text{
  width: 466px;
  font-size: 15px;
  color: #FFFFFF;
}
.carousel-item{
  margin-top: 100px;
}
.carousel-indicators {
  position: relative;
  margin-top: 50px;
  height: 16px;
  border-radius: 3px;
}
.buttons-main{
  width: 28px;
  height: 14px;
  background: #FFFFFF;
  margin-top: 7px;
}
.heading-main{
  display: flex;
justify-content: center;
margin-bottom: 55;
position: relative;
top: -450px;
}
